parameters:
    paths:
        - src/
        - config/
        - database/

    level: 6

    parallel:
        maximumNumberOfProcesses: 4
        jobSize: 20

    checkGenericClassInNonGenericObjectType: false
