parameters:
    paths:
        - src/
        - config/
        - database/

    level: 6

    parallel:
        maximumNumberOfProcesses: 4
        jobSize: 20

    ignoreErrors:
        # HasJwt is a trait for consuming applications, so it has no usage inside src/.
        - identifier: trait.unused
